@import url("https://fonts.googleapis.com/css2?family=Allan&family=Lato:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

/* headings and logo */
h1,
h2,
h3 {
    font-family: "Allan", cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

a {
    text-decoration: none;
    color: #252525;
}

/* navigation */

nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 75px;
    letter-spacing: 2px;
}

#logo {
    font-size: 280px;
    font-size: 280%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10 px;
}

nav li a {
    margin-left: 20px;
    padding: 10px;
}

nav li a:hover {
    background-color: #252525;
    color: #fff;
    border-radius: 3px;
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background: url("../image/hero-image.jpg") no-repeat center center;
    height: 600px;
    width: 100%;
    background-size: cover;
}

#box {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 250px;
    height: 130px;
    padding: 15px 10px;
    background-color: rgba(226, 226, 226, .6);
    right: 15px;
    bottom: 15px;
    border-radius: 15px;
    position: absolute;
}

/* text section  and events */
.cover-text {
    text-align: center;
    margin: 15px;
    font-size: 130%
}

.cover-text h2 {
    padding: 20px;
}

.cover-text p {
    padding-bottom: 10px;
}

#events {
    margin: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

#events>div {
    border-radius: 1em;
    width: 310px;
    height: 120px;
    margin: 10px;
    padding: 8px;
    background-color: rgba(226, 226, 226);
}

/* Footer */
footer {
    text-align: center;

}

.social-networks {
    text-align: center;
    padding-top: 10px;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    padding: 0px 15px 10px;
    color: #252525;
}

/* gallery */
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img {
    width: 300px;
    height: 300px;
    background-color: #252525;
    padding: 10px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}

#gallery img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}