@import url("https://fonts.googleapis.com/css2?family=Allan&family=Lato:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
}

/* headings and logo */
h1,
h2,
h3 {
    font-family: "Allan", cursive;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    color: #252525;
}

a {
    text-decoration: none;
    color: #252525;
}

/* navigation */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
   font-size: 110%;
   letter-spacing: 0.125rem;
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    color: inherit;
    padding: 10px 5px;
}

#menu a:hover {
    background-color: #252525;
    color: #fff;
    border-radius: 3px;
}

/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    background: url("../image/hero-image.jpg") no-repeat center center;
    height: 600px;
    width: 100%;
    background-size: cover;
}

#box {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 250px;
    height: 130px;
    padding: 15px 10px;
    background-color: rgba(226, 226, 226, .6);
    right: 15px;
    bottom: 15px;
    border-radius: 15px;
    position: absolute;
}

#pages-titles {
    font-size: 180%;
    color: #465866;
    margin-left: 20px;
}

/* text section  and events */
.cover-text {
    text-align: center;
    margin: 15px;
    font-size: 130%
}

.cover-text h2 {
    padding: 20px;
}

.cover-text p {
    padding-bottom: 10px;
}

#events {
    margin: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#events > div {
    border-radius: 1em;
    width: 310px;
    height: 120px;
    margin: 10px;
    padding: 8px;
    background-color: #a1a8ba;
}

/* Footer */
footer {
    text-align: center;
    margin: 20px 0 10px;
}

.social-networks {
    text-align: center;
    padding-top: 10px;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 3%;
    color: #252525;
}

footer p {
    color: #465866;
}

/* Pages titles */
.pages-titles {
    font-size: 180%;
    color: #465866;
    margin-left: 20px;
}

/* About  */
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 18px;
}

.card-image img {
    width: 300px;
    height: 250px;
    object-position: center;
    object-fit: cover;
    padding: 10px;
    background-color: #a1a8ba;
}

.card-text {
    font-size: 120%;
    width: 300px;
    height: 250px;
    padding: 10px;
    background-color: #a1a8ba;

}

.card-text p {
    padding: 15px 0;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* gallery */
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img {
    width: 300px;
    height: 300px;
    background-color:#a1a8ba;
    padding: 10px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}

#gallery img:hover {
    opacity: 0.5;
    transition: 0.5s;
}

/* contact */
.contact-section {
    background-color: #465866;
    padding: 50px 0;
    margin: 15px 20px;
}

.get-in-touch {
    color: #252525;
    background-color: #a1a8ba;
    max-width: 400px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.get-in-touch>h2 {
    color: #fff;
    margin-bottom: 20px;
}

.text-input {
    color: #465866;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #252525;
}

.send-button {
    margin-top: 20px;
    padding: 10px;
    font-size: 100%;
    background-color: #465866;
    color: #fff;
    display: block;
    border-radius: 5px;
}

.send-button:hover {
    background-color: #fff;
    color: #465866;
}

#textarea {
    max-width: 400px;
    border-radius: 2px;
}