@import url('https://fonts.googleapis.com/css2?family=Allan&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Allan', cursive;
    font-weight: 300;
}
